<header class="header flex items-center">
  <div class="container w-full">
    <div class="header-content flex items-center justify-between">
      <a href="#" class="site-name">
        Meta<span>Blog.</span>
      </a>

      <div class="flex items-center">
        <button type="button" class="btn notify-btn text-white">
          <i class="bi bi-bell-fill"></i>
        </button>
        <button type="button" class="btn logout-btn text-white" (click)="onLogout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
        <button type="button" class="btn profile-btn">
          <img src = "../../../../assets/images/p1.png" />
        </button>
      </div>
    </div>
  </div>
</header>
